/* =========================
TABLET
========================= */

@media (max-width:1024px){

    .navbar{
        padding:20px 30px;
    }

    .nav-links a{
        font-size:2rem;
    }

    .logo img{
        height:70px;
    }

    footer{
        padding:35px 30px 15px;
    }

    .logo{
    position:relative;

    left:auto;

    transform:none;
}
}


/* =========================
MOBILE
========================= */

@media (max-width:768px){

    .navbar{
        position:relative;

        padding:18px 22px;
    }

    /* ocultar menu desktop */
    #navLeft{
        display:none;
    }

    /* logo */
    .logo{
        position:relative;

        left:auto;

        transform:none;
    }

    .logo img{
        height:60px;
    }

    /* hamburguesa */
    .menu-toggle{
        display:flex;

        flex-direction:column;

        gap:6px;

        cursor:pointer;
    }

    .menu-toggle span{
        width:32px;
        height:4px;

        background:#00b5fc;

        border-radius:5px;
    }

 /* mostrar menu mobile */
#navMenu{
    display:none;

    position:absolute;

    top:100%;
    left:0;

    width:100%;

    background:#F8F9FF;

    flex-direction:column;

    align-items:center;

    gap:20px;

    padding:25px 0;

    border-bottom:3px solid #4f7d96;

    z-index:999;
}

#navMenu.active{
    display:flex;
}

    #navMenu a{
        font-size:1.4rem;

        color:#273268;

        text-decoration:none;

        font-weight:600;
    }

    .mobile-contact{
        display:block;
    }

    /* FOOTER */

    footer{
        padding:30px 20px 15px;
    }

    .footer-container{
        display:flex;

        flex-direction:column;

        align-items:center;

        text-align:center;

        gap:30px;
    }

    .footer-left,
    .footer-center,
    .footer-right{
        width:100%;
    }

    .footer-contact-row{
        justify-content:center;
    }

    .footer-logo img{
        width:220px;
    }

    .footer-title{
        font-size:1.5rem;
    }

    .footer-text{
        font-size:1rem;
    }
}


/* =========================
CELULARES PEQUEÑOS
========================= */

@media (max-width:480px){

    .navbar{
        padding:16px;
    }

    .logo img{
        height:52px;
    }

    #navMenu a{
        font-size:1.15rem;
    }

    .footer-title{
        font-size:1.3rem;
    }

    .footer-text{
        font-size:0.95rem;
    }
}
